/experiments    
/experiments_optimization
/gaussian_output
/gaussian_output_video
/data
/data_process/TRELLIS
/wandb
/temp_experiments
/semantic/cache
data_process/groundedSAM_checkpoints/groundingdino_swint_ogc.pth
data_process/groundedSAM_checkpoints/sam2.1_hiera_large.pt
